<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/8977e16b41.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <header>
        <div class="img-barra-p">
         <img class="LogoML" src="images/logo-mercado-liebre.svg" alt="logo">   
        <div class="search-bar">
            <input type="text" placeholder="Buscar productos, marcas">
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <p class="text-header"><i class="fa-solid fa-hand-holding-dollar"></i> Compra en cuotas y sin tarjeta de credito</p>
    </div>
    <div>
     <nav class="barra">
        <ul class="primero">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="segundo">
            <li><a href="./register">Crea tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
            <li><a href="./login">Ingresa </a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
        </nav>   
    </div>
        
        <div class="menu-H">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <section>
        <img class="LogoMLP" src="images/img-home-banner.jpg" width="" alt="">
    </section>
    <main>
        <div class="form-register">
            <form action="/home" method="post">
                <input type="text" id="nombreA" name="nombreA" placeholder="Nombre y apellido">
                <input type="text" id="usuario" name="usuario" placeholder="Usuario">
                <input type="email" id="email" name="email" placeholder="Email">
                <label for="nacimiento">Fecha de nacimiento:</label>
                <input type="date" id="nacimiento" name="nacimiento" value="">
                <input type="text" id="domicilio" name="domicilio" placeholder="domicilio">
                <label for="perfil">Perfil de usuario:</label>
                <input type="radio" id="perfil" name="tipoUser" value="Comprador">
                <label for="perfil">Comprador</label>
                <input type="radio" id="perfil" name="tipoUser" value="Vendedor">
                <label for="perfil">Vendedor</label><br>
                <label for="intereses">Intereses:</label><br>
                <input type="checkbox" id="Electro" name="Electro" value="Electro">
                <label for="Electro"> Electro</label><br>
                <input type="checkbox" id="Moda" name="Moda" value="Moda">
                <label for="Moda"> Moda</label><br>
                <input type="checkbox" id="Hogar" name="Hogar" value="Hogar">
                <label for="Hogar"> Hogar</label><br>
                <input type="checkbox" id="Jugueteria" name="Jugueteria" value="Jugueteria">
                <label for="Jugueteria"> Jugueteria</label><br>
                <input type="checkbox" id="VidaSana" name="VidaSana" value="VidaSana">
                <label for="VidaSana"> Vida sana</label><br>
                <label for="Foto">Foto de usuario:</label>
                <input type="file" id="Foto" name="Foto" value="">
                <input type="password" id="contraseña" name="contraseña" placeholder="contraseña">
                <input type="password" id="Ccontraseña" name="Ccontraseña" placeholder="confirmar contraseña">
                <input type="submit" value="Enviar">
                <input type="reset" value="Eliminar">
            </form> 
        </div>

    </main>

    <footer>
        <section>
            <i class="fa-solid fa-credit-card" id="icono-card"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>    
        </section>
        <section>
            <i class="fa-solid fa-gift" id="icono-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>    
        </section>
        <section>
            <i class="fa-solid fa-user-shield" id="icono-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p> 
        </section>
        <h3>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>   
        
    </footer>
</body>
</html>